header {
    height: max-content;
    margin: 0.5% 0;
}

.header-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background-image {
    width: 100vw;
    height: 100%;
    display: block;
    animation: zoomfadein 1000ms ease-in-out forwards;
    opacity: 0%;
    transform: scale(-1%);
}

.header-title {
    position: absolute;
    font-size: 6.4rem;
    font-weight: 300;
    z-index: 2;
    margin: 0 -100% 0 75%;
    opacity: 0%;
    animation: fadein 2500ms 1700ms ease-in-out forwards;
}

.profile-image {
    width: 98%;
    animation: zoomfadein 1000ms 500ms ease-in-out forwards;
    opacity: 0%;
    transform: scale(-1%);
}

.header-content {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-text {
    margin-left: -60%;
}

.horizontal-content {
    display: flex;
    align-items: center;
    position: relative;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.bottom-text {
    line-height: 0%;
    margin-top: 0.5%;
}

.header-content p {
    opacity: 0%;
    animation: fadein 2000ms 1200ms ease-in-out forwards;
}

@keyframes zoomfadein {
    0% {
        opacity: 0%;
        transform: scale(-1%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}